<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/profile" class="logo">MC Angular</a>
  </div>
  <div class="nav-right">
    <a routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
    <a routerLink="/signup" *ngIf="!authService.isLoggedIn()">Sign Up</a>
    <a routerLink="/patient" *ngIf="authService.isLoggedIn()">Patient</a>
    <a routerLink="/doctor" *ngIf="authService.isLoggedIn()">Doctor</a>
    <a routerLink="/profile" *ngIf="authService.isLoggedIn()">Profile</a>
    <a (click)="authService.logout()" *ngIf="authService.isLoggedIn()">Logout</a>
  </div>
</nav>

<router-outlet></router-outlet>
